body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  padding: 20px;
}
.flag-img {
  width: 90px;
  height: auto;
}

.autocomplete-container {
  position: relative;
}

.autocomplete-input {
  width: 200px; /* Adjust the width as needed */
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px; /* Adjust the max height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 999;
}

.autocomplete-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f2f2f2;
}
